<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/aboutMe.css"/>
<%- contentFor('body') %>
<div class="panel about-me">
    <h1>Background</h1>
    <p>
        My name is <span class="on-text">Kyle Vermeer</span>.
    </p>
    <p>
        I am a <%= yearsOld %> year old <span class="on-text">software engineer</span> at
        <a href="https://www.box.com/careers" class="on-text">Box</a>.
    </p>
    <p>
        I currently work on the Accounts and Online Sales Engineering team at Box.  Our team is in charge of all the revenue generating flows in the web-app.  We develop primarily in PHP, HTML, and Javascript.
    </p>
    <p>
        Previously, I worked extensively on internal business systems, building tools to support our sales, marketing, and
        business development teams.
        This has built an expertise on the
        <a href="https://developer.salesforce.com/page/Apex" class="on-text">Salesforce (Force.com) platform</a>.
    </p>
    <p>
        I have also was fortunate enough to <span class="on-text">lead a team</span> of the most strikingly intelligent business systems
        engineers in the Valley.  I managed a team of 4 engineers in the quest to deliver superb business tools.
    </p>
    <div id="personal-image">
    </div>
</div>
<div class="panel technical-skills-container">
  <h1>Technical Skills</h1>
  <div class="tech-skills">
      <div class="skills-list-div">
          <span class="skills-list-label">My technical skills include:</span>
          <ul class="skills-list">
              <li><span id="PHP" class="skills-list-option">- PHP</span></li>
              <li><span id="Apex" class="skills-list-option">- Apex</span></li>
              <li><span id="HTML" class="skills-list-option">- HTML</span></li>
              <li><span id="CSS" class="skills-list-option">- CSS</span></li>
              <li><span id="Javascript" class="skills-list-option">- Javascript</span></li>
              <li><span id="NodeJS" class="skills-list-option">- Node.js</span></li>
              <li><span id="Java" class="skills-list-option">- Java</span></li>
              <li><span id="Python" class="skills-list-option">- Python</span></li>
              <li><span id="C" class="skills-list-option">- C</span></li>
          </ul>
      </div>
      <canvas id="skills-canvas" height="200" width="550"></canvas>
      <div class="space-holder"></div>
  </div>
</div>

<script type="text/javascript" src="javascripts/codeCanvas.js"></script>
<script type="text/javascript">
    var codingCanvas = new CodeCanvas("skills-canvas", { "font-size" : 18, "font-family" : "monospace", "drawing-interval" : 75 });
    $("#PHP").hover(function() {
        var codeToDraw = "public function helloWorld() {\n" +
                         "  $text = \"Hello\" . \"World\";\n" +
                         "  return $text;\n" +
                         "}";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#Apex").hover(function() {
        var codeToDraw = "trigger AccountTrigger on Account {\n" +
                         "\n" +
                         "  if (Trigger.isBefore && Trigger.isInsert) {\n" +
                         "    TriggerHandler.beforeInsert(Trigger.new);\n" +
                         "  }\n" +
                         "}";
        codingCanvas.draw(codeToDraw);
    }, function() {})
    $("#HTML").hover(function() {
        var codeToDraw = "<html>\n" +
                         "  <head>\n" +
                         "    <title>Page title</title>\n" +
                         "  </head>\n" +
                         "  <body>\n" +
                         "    This is HTML\n"+
                         "  </body>\n" +
                         "</html>";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#CSS").hover(function() {
        var codeToDraw = ".class {\n" +
                         "  color: #A3B627;\n" +
                         "}\n" +
                         "\n" +
                         "#id {\n" +
                         "  font-family: Lato;\n" +
                         "}";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#Javascript").hover(function() {
        var codeToDraw = "var script = \"My Script\";\n" +
                         "if (script.length > 5) {\n" +
                         "  console.log(\"What a long script\");\n" +
                         "};";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#NodeJS").hover(function() {
        var codeToDraw = "var server = app.listen(8080, function () {\n" +
                         "    var host = server.address().address;\n" +
                         "    var port = server.address().port;\n" +
                         "    console.log(\"I'm alive!\");\n" +
                         "});";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#Java").hover(function() {
        var codeToDraw = "public class HelloWorld {\n" +
                         "\n" +
                         "    public static void main(String[] args) {\n" +
                         "        System.out.println(\"Hello World!\");\n" +
                         "    }\n" +
                         "}";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#Python").hover(function() {
        var codeToDraw = "def getInputList():\n" +
                         "  userInput = input(\"Enter integers: \")\n" +
                         "  userStringList = userInput.split()\n" +
                         "  integerList = []\n" +
                         "  for element in userStringList:\n" +
                         "    newElement = int(element)\n" +
                         "    integerList.append(newElement)\n" +
                         "  return integerList";
        codingCanvas.draw(codeToDraw);
    }, function() {});
    $("#C").hover(function() {
        var codeToDraw = "#include <stdio.h>\n" +
                         "\n" +
                         "int main() {\n" +
                         "    printf(\"Hello world\\n\");\n" +
                         "    return 0;\n" +
                         "}\n";
        codingCanvas.draw(codeToDraw);
    }, function() {});
</script>
