<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/aboutMe.css"/>
<%- contentFor('body') %>
<div class="about-me">
    <span class="intro-line">
        My name is Kyle Manuel Gonzalez Vermeer.
    </span>
    <span class="intro-line">
        I am a <%= yearsOld %> year old software engineer
        from Mountain View, CA.
    </span>
    <div id="personal-image">
    </div>
    <div class="tech-skills">
        <span>My technical skills include:</span>
        <ul class="skills-list">
            <li id="HTML">- HTML</li>
            <li id="CSS">- CSS</li>
            <li id="Javascript">- Javascript</li>
            <li id="Node.js">- Node.js</li>
            <li id="Java">- Java</li>
            <li id="Python">- Python</li>
            <li id="C">- C</li>
        </ul>
        <div class="space-holder"></div>
    </div>
</div>
