<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/contact.css"/>

<%- contentFor('body') %>
<div class="contact-info">
    <span class="contact-social-media">
        Please feel free to reach out to me via any of the social media links below.
    </span>
    <span class="contact-email">
        You may also e-mail me at kylevermeer at gmail dot com.
    </span>
</div>
