<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/index.css"/>
<%- contentFor('body') %>
<div class="main-contents">
    <div id="intro-panel">

    </div>
    <!--<img id="background-image" src="/images/KVWebsite.jpg"/>-->
        <!--<div id="panel-contents">


        </div>-->
    <div class="panel name-title-panel">
      <div class="name">
          <span class="first-name">KYLE</span>
          <span class="last-name">VERMEER</span>
      </div>
      <div class="title">
          <span class="title-line">software</span>
          <span class="title-line">engineer</span>
      </div>
      <div class="space-holder"></div>
    </div>

    <div class="panel quick-description">
      <p class="description">Kyle is an full-stack engineer obsessed with marrying <br/> <strong>critical business objectives</strong> and <strong>elegant technical solutions</strong>.</p>

      <p class="thin">Specialties include:</p>
      <ol>
        <li><strong>Solution Design</strong>. Developed via architecting and developing sales and marketing systems, specifically as it relates to enabling and tracking e-commerce.</li>
        <li><strong>Execution</strong>. Practiced through building data-driven systems, such as quoting tools, sales approval systems, and product pricing microservices.</li>
        <li><strong>Leadership</strong>.  Demonstrated through listening, learning, and teaching.</li>
      </ol>
    </div>
</div>
