<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/index.css"/>
<%- contentFor('body') %>
<div class="main-contents">
    <div id="intro-panel">

    </div>
    <!--<img id="background-image" src="/images/KVWebsite.jpg"/>-->
        <!--<div id="panel-contents">


        </div>-->
    <div class="name">
        <span class="first-name">KYLE</span>
        <span class="last-name">VERMEER</span>
    </div>
    <div class="title">
        <span class="title-line">software</span>
        <span class="title-line">engineer</span>
    </div>
    <div class="space-holder"></div>
</div>

<script type="text/javascript">
    (function() {
        document.getElementById("panel-contents").onclick = function() {
            window.location = "/aboutMe";
        };
    })();
</script>
