<!DOCTYPE>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
    </head>

    <body>
        <h1 id="header">This is a template</h1>
    </body>

</html>
