<%- contentFor('body') %>
<div class="main-content-panel">
</div>
<div class="main-content-panel">
    <div class="right-panel-contents">
        <div class="name">
            <span class="first-name">KYLE</span>
            <span class="last-name">VERMEER</span>
        </div>
        <div class="title">
            <span class="title-line">software</span>
            <span class="title-line">engineer</span>
        </div>
    </div>
</div>
