<!DOCTYPE>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="stylesheets/css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/css/main-layout.css"/>
        <script type="text/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
        <%-defineContent('head')%>
    </head>

    <body>
        <div class="all-content">
            <header>
                <nav>
                    <ul>
                        <a href="/"><li>HOME</li></a>
                        <a href="/projects"><li>PROJECTS</li></a>
                        <a href="http://kylevermeer.wordpress.com/"><li>BLOG</li></a>
                        <a href="/aboutMe"><li>ABOUT ME</li></a>
                        <a href="/contact"><li>CONTACT</li></a>
                    </ul>
                </nav>
            </header>

            <div id="main-content">
                <div id="main-content-writeable">
                    <%-body%>
                </div>
            </div>

            <footer>
                <div id="social-media-links">
                    <a href="https://www.linkedin.com/pub/kyle-vermeer/35/3b9/210/">
                        <img src="images/linkedinLogo48.png" width="48" height="48"/>
                    </a>
                    <a href="https://www.facebook.com/kylevermeer">
                        <img src="images/facebookLogo48.png" width="48" height="48"/>
                    </a>
                    <a href="https://twitter.com/KyleV35">
                        <img src="images/twitterLogo48.png" width="48" height="48"/>
                    </a>
                </div>
                <div id="signature">
                    <span class="name">
                        Kyle Vermeer
                    </span>
                    <span class="year">
                        &copy; 2014
                    </span>
                    <div class="space-holder"></div>
                </div>
            </footer>
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58071133-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>

</html>
