<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/projects.css"/>

<%- contentFor('body') %>
<div class="panel projects">
  <h1>Projects</h1>
  <span class="coming-soon-message">Coming soon...</span>
</div>
