div.about-me {
  padding-top: 100px;
  padding-left: 3%;
  padding-right: 3%;
}
span.intro-line {
  color: #00aef0;
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  display: block;
}
div.tech-skills {
  margin-top: 50px;
}
div.skills-list-div {
  display: inline-block;
  float: left;
}
.skills-list-label {
  color: #888888;
  font-weight: 300;
  font-size: 22px;
  display: block;
  padding-bottom: 20px;
}
ul.skills-list {
  margin-left: 50px;
}
ul.skills-list > li {
  color: #00aef0;
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
}
span.skills-list-option:hover {
  color: #008ed0;
  cursor: pointer;
}
pre#skill-example {
  float: left;
  color: #FFFFFF;
}
canvas#skills-canvas {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
}
.space-holder {
  clear: both;
}
