.on-text {
  color: #3B5998;
  font-weight: 500;
}

div.about-me {
  background-color: #00aef0;
  color: #FFF;
}

div.about-me > p {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 30px;
}

div.about-me > p:first-of-type {
  margin-top: 0px;
}

div.tech-skills {
  margin-top: 50px;
}
div.skills-list-div {
  display: inline-block;
  float: left;
}
.skills-list-label {
  display: block;
  padding-bottom: 20px;
}

ul.skills-list {
  margin-left: 50px;
}

ul.skills-list > li {
  font-weight: 300;
  line-height: 1.2;
}
span.skills-list-option:hover {
  color: #008ed0;
  cursor: pointer;
}

canvas#skills-canvas {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
}

.space-holder {
  clear: both;
}

.panel {
  display: inline-block;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;;
  padding-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
}

.panel h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.technical-skills-container {
  background-color: #FFF;
  color: #000;
  font-size: 25px;
  font-weight: 300;
}

/* Mobile */
@media (max-width: 667px) {
  canvas#skills-canvas {
    display: none;
  }
  div.about-me > p {
    text-align: center;
  }
  div.about-me {
    padding-top: 25px;
  }
}
