span.contact-social-media {
  display: block;
  color: #00aef0;
  font-size: 25px;
  font-weight: 300;
}
span.contact-email {
  display: block;
  margin-top: 50px;
  color: #888888;
  font-weight: 300;
}
div.contact-info {
  background-color: #FFF;
}

.panel {
  display: inline-block;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;;
  padding-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
}

.panel h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Mobile */
@media (max-width: 667px) {
  div.contact-info {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
