div.main-content-panel {
  float: left;
  display: inline-block;
  width: 50%;
  height: 100%;
}
div.name {
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  margin-top: 5%;
  text-align: center;
}
div#intro-panel {
  width: 100%;
  min-height: 550px;
  background: url(/images/KVWebsite.jpg) no-repeat center center local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
span.first-name {
  display: block;
  clear: both;
  color: #ffffff;
}
span.last-name {
  display: block;
  clear: both;
  color: #00aef0;
}
.title {
  margin-top: 10%;
  font-size: 27px;
  font-weight: 300;
  color: #cccccc;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 900px) {
  .title {
    margin-top: 5%;
  }
}
.title > span.title-line {
  display: block;
  clear: both;
}
#panel-contents {
  margin-top: 5%;
  margin-right: 75px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  float: right;
  transition: background-color 0.8s;
  text-align: center;
}
#panel-contents:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
img#background-image {
  width: 100%;
}
/* Mobile */
@media (max-width: 667px) {
  div#intro-panel {
    min-height: 300px;
  }
}
