div.main-content-panel {
  float: left;
  display: inline-block;
  width: 50%;
  height: 100%;
}
div.name {
  font-weight: 300;
  font-size: 55px;
  line-height: 60px;
}
span.first-name {
  display: block;
  clear: both;
  color: #ffffff;
}
span.last-name {
  display: block;
  clear: both;
  color: #00aef0;
}
.title {
  margin-top: 50px;
  font-size: 33px;
  font-weight: 300;
  color: #cccccc;
  line-height: 36px;
}
.title > span.title-line {
  display: block;
  clear: both;
}
#panel-contents {
  margin-top: 150px;
  margin-right: 75px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  float: right;
  transition: background-color 0.8s;
}
#panel-contents:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
div#main-content {
  background-image: url('/images/KVWebsite.jpg');
  background-size: cover;
}
