@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
/* Globals */
/* /Globals */
header {
  background-color: #121212;
  height: 67px;
  width: 100%;
  color: #ffffff;
}
footer {
  min-height: 100px;
  background-color: #121212;
  width: 100%;
}
html,
body {
  height: 100%;
  background-color: #121212;
}
a {
  text-decoration: none;
  height: 100%;
  weight: 100%;
}
/*@main-content-background-color: #1C1C1C;*/
#main-content {
  background-color: #121212;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  min-height: 550px;
}
div.all-content {
  font-family: Lato, sans-seriff;
}
nav {
  text-align: center;
}
nav > ul {
  display: inline-block;
}
nav li {
  height: 67px;
  line-height: 67px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Lato, sans-seriff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 365px) {
  nav li {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px;
  }
}
nav li:hover {
  background-color: #333333;
  cursor: pointer;
}
nav li > a {
  color: #ffffff;
}
footer {
  padding-top: 20px;
}
#social-media-links {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
}
div#signature {
  width: 150px;
  margin: auto;
  margin-top: 15px;
  font-size: 16px;
  color: #888888;
  font-family: Lato, sans-seriff;
}
div#signature > span.name {
  display: inline-block;
  float: left;
}
div#signature > span.year {
  display: inline-block;
  float: right;
}
div#main-content {
  width: 100%;
}
.space-holder {
  clear: both;
}
/* Mobile */
@media (max-width: 667px) {
  #main-content {
    min-height: 300px;
  }
}
