@font-color-off: #888888;
@font-color-on: #00aef0;

.off-text {
    color: #888888;
}

.on-text {
    color: #00aef0;
}

@aboutMe-padding-top: 100px;
@aboutMe-padding-left-right: 3%;

div.about-me {
    padding-top: @aboutMe-padding-top;
    padding-left: @aboutMe-padding-left-right;
    padding-right: @aboutMe-padding-left-right;
}

@about-me-font-size-paragraph: 25px;
@about-me-font-weight-paragraph: 300;
@about-me-line-height-paragraph: 1.4;

div.about-me > p {
    color: @font-color-off;
    font-size: @about-me-font-size-paragraph;
    font-weight: @about-me-font-weight-paragraph;
    line-height: @about-me-line-height-paragraph;
    margin-top: 30px;
}

div.about-me > p:first-of-type {
    margin-top: 0px;
}

@tech-skills-margin-top: 50px;

div.tech-skills {
    margin-top: @tech-skills-margin-top;
}

div.skills-list-div {
    display: inline-block;
    float: left;
}

@tech-skills-span-font-color: #888888;
@tech-skills-span-font-size: 22px;
@tech-skills-label-padding-bottom: 20px;

.skills-list-label {
    color: @tech-skills-span-font-color;
    font-weight: @about-me-font-weight-paragraph;
    font-size: @tech-skills-span-font-size;
    display: block;
    padding-bottom: @tech-skills-label-padding-bottom;
}

@skills-list-font-color: #00aef0;
@skills-list-margin-left: 50px;

ul.skills-list {
    margin-left: @skills-list-margin-left;
}

ul.skills-list > li {
    color: @skills-list-font-color;
    font-size: @tech-skills-span-font-size;
    font-weight: @about-me-font-weight-paragraph;
    line-height: @tech-skills-span-font-size + 5px;
}

@skills-list-font-color-hover: #008ed0;

span.skills-list-option:hover {
    color: @skills-list-font-color-hover;
    cursor: pointer;
}

pre#skill-example {
    float:left;
    color: #FFFFFF;
}

canvas#skills-canvas {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
}

.space-holder {
    clear:both;
}

/* Mobile */

@media (max-width: 667px) {
    canvas#skills-canvas {
        display: none;
    }

    div.about-me > p {
        text-align: center;
    }

    div.about-me {
        padding-top: 25px;
    }
}
