@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

/* Globals */
@black: #121212;
@page-font-family: Lato, sans-seriff;
/* /Globals */

@header-height: 67px;
@header-font-color: #FFFFFF;

header {
    background-color: @black;
    height: @header-height;
    width: 100%;
    color: @header-font-color;
}

@footer-height: 100px;

footer {
    height: @footer-height;
    background-color: @black;
    width: 100%;
}

a {
    text-decoration: none;
}

@main-content-height: 650px;
@main-content-background-color: #1C1C1C;
@main-content-border-color: #333333;

#main-content {
    height: @main-content-height;
    background-color: @main-content-background-color;
    border-top: 1px solid @main-content-border-color;
    border-bottom: 1px solid @main-content-border-color;
}

div.all-content {
    font-family: @page-font-family;
}

@nav-height: @header-height;

nav {
    text-align: center;
}

nav > ul {
    display: inline-block;
}

@nav-li-height: @nav-height;
@nav-li-padding: 20px;
@nav-li-font-family: @page-font-family;
@nav-li-font-color: #FFFFFF;
@nav-li-font-size: 18px;
@nav-li-font-weight: 300;

nav li {
    height: @nav-li-height;
    line-height: @nav-li-height;
    display: inline-block;
    padding-left: @nav-li-padding;
    padding-right: @nav-li-padding;
    font-family: @nav-li-font-family;
    color: @nav-li-font-color;
    font-size: @nav-li-font-size;
    font-weight: @nav-li-font-weight;
}

@nav-li-hover-background-color: #333333;

nav li:hover {
    background-color: @nav-li-hover-background-color;
    cursor: pointer;
}

nav li > a {
    color: @nav-li-font-color;
}

div.main-content-panel {
    float:left;
    display: inline-block;
    width:50%;
    height: 100%;
}

@name-margin-top: 150px;
@name-font-family: @page-font-family;
@name-font-weight: 300;
@name-font-size: 55px;
@name-line-height: @name-font-size + 5;

div.name {
    margin-top: 150px;
    font-family: @name-font-family;
    font-weight: @name-font-weight;
    font-size: @name-font-size;
    line-height: @name-line-height;
}

@first-name-color: #EEEEEE;

span.first-name {
    display: block;
    clear: both;
    color: @first-name-color;
}

@last-name-color: #00aef0;

span.last-name {
    display: block;
    clear: both;
    color: @last-name-color;
}

@title-margin-top: 50px;
@title-font-family: @page-font-family;
@title-font-size: @name-font-size * (3/5);
@title-line-height: @title-font-size + 3;
@title-font-color: #888888;
@title-font-weight: 300;

.title {
    margin-top: @title-margin-top;
    font-size: @title-font-size;
    font-family: @title-font-family;
    font-weight: @title-font-weight;
    color: @title-font-color;
    line-height: @title-line-height;
}

.title > span.title-line {
    display: block;
    clear: both;
}


@right-panel-contents-margin-left: 30px;

.right-panel-contents {
    margin-left: @right-panel-contents-margin-left;
}

@all-content-min-width: 900px;

.all-content {
    min-width: @all-content-min-width;
}

@footer-padding-top: 20px;

footer {
    padding-top: @footer-padding-top;
}

@social-media-links-width: 200px;

#social-media-links {
    display: block;
    width: @social-media-links-width;
    margin: auto;
    text-align: center;
}

@signature-width: 150px;
@signature-margin-top: 15px;
@signature-font-color: #888888;
@signature-font-size: 16px;
@signature-font-family: @page-font-family;

div#signature {
    width: @signature-width;
    margin: auto;
    margin-top: @signature-margin-top;
    font-size: @signature-font-size;
    color: @signature-font-color;
    font-family: @signature-font-family;
}

div#signature > span.name {
    display: inline-block;
    float: left;
}

div#signature > span.year {
    display: inline-block;
    float: right;
}
